<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles_etudiant.css">
    <script src="js/script.js" defer></script>

    <title>etudiant</title>
</head>
<body>
<div class="side-menu">
    <div class="brand-name">
        <h1>Admin</h1>
    </div>
    <ul>      <ul>     <li><a href="/"><img src="img/dashboard (2).png" alt="">&nbsp; <span>Dashboard</span> </a></li>
        <li><a href="personnelList"><img src="img/teacher2.png" alt="">&nbsp; <span>Personnel</span></a></li>
        <li><a href="salleList"><img src="img/school.png" alt="">&nbsp; <span>Salle</span> </a></li>
        <li><a href="presenceList"><img src="img/payment.png" alt="">&nbsp; <span>Presence</span> </a></li>
        <li><a href="jourList"><img src="img/help-web-button.png" alt="">&nbsp; <span> Jour </span></a> </li>
        <li><a href="programmeList"><img src="img/settings.png" alt="">&nbsp; <span>Programme</span> </a></li>
    </ul>
    </ul>
</div>
<div class="container">
    <div class="header">
        <div class="nav">
            <div class="user">
                <a href="/" alt=""><h3>deconnexion</h3></a>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="cards">
            <div class="card">
                <div class="box">
                    <h1>[[${personnel}]]</h1>
                    <h3>Personnel</h3>
                </div>
                <div class="icon-case">
                    <img src="img/students.png" alt="">
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <h1> [[${evenement}]]</h1>
                    <h3>Evenements</h3>
                </div>
                <div class="icon-case">
                    <img src="img/teachers.png" alt="">
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <h1>1</h1>
                    <h3>Départements</h3>
                </div>
                <div class="icon-case">
                    <img src="img/schools.png" alt="">
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <h1>[[${programme}]]</h1>
                    <h3>Programme</h3>
                </div>
                <div class="icon-case">
                    <img src="img/income.png" alt="">
                </div>
            </div>
        </div>
        <div class="content-2">
            <div class="recent-payments">
                <div class="title">
                    <h2>Fiches</h2>
                </div>
                <table class="events-table">
                    <thead>
                    <tr>
                        <th class="event-date">id</th>
                        <th class="event-date">Londitude</th>
                        <th class="event-date">Latitude</th>
                        <th class="event-date">location</th>
                        <th class="event-date">Personnel</th>
                    </tr>
                    </thead>

                    <tbody>

                    <tr th:each="presence : ${presences}">

                        <td data-label= "titre">[[*{presence.id}]]</td>
                        <td data-label= "date">[[*{presence.longitude}]]</td>
                        <td data-label= "titre">[[*{presence.latitude}]]</td>
                        <td data-label= "titre">[[*{presence.location}]]</td>
                        <td data-label= "titre">[[*{presence.personnel.nom}]]</td>
                        <td data-label="Supprimer"><a th:href="@{/presence/{id}(id=${presence.id})}"><img src="img/icons8-poubelle-50.png" alt=""></a></td>

                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



</body>
</html>