<div class="cd-schedule-modal__event-info">
  <div>

      Horaire            : [[${programme.horaire}]] <em class="cd-schedule__name"> </em>
      Enseignant         : [[${programme.personnel.nom}]] <em class="cd-schedule__name"> </em>
      Salle              : [[${programme.salle.intitule}]] <em class="cd-schedule__name"> </em>
      Evenement          : [[${programme.evenement.intitule}]] <em class="cd-schedule__name"> </em>
      Jour               : [[${programme.jour.intitule}]] <em class="cd-schedule__name"> </em>

      <div style="margin: 20px ">
          <button  class="btn" id="pop"  >  <a th:href="@{/modif/{id}(id=${programme.id})}" style="text-decoration: none" >Modifier le programme </a> </button>
          <button   class="btn" id="pop"> <a th:href="@{/deleteprogramme/{id}(id=${programme.id})}" style="text-decoration: none"> Supprimer un programme</a>  </button>
      </div>

  </div>

</div>





