<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>document.getElementsByTagName("html")[0].className += " js";</script>
    <link rel="stylesheet" href="css/styleE.css">
    <link rel="stylesheet" href="css/styles_etudiant.css">
    <script src="js/script.js" defer></script>
    <script src="js/script1.js" defer></script>
    <title>Emploi de temps </title>
</head>
<body>
<header class="cd-main-header text-center flex flex-column flex-center">
    <p class="margin-top-md margin-bottom-xl" style="margin-bottom: unset">👈<a href="/"><img src="img/dashboard (2).png" alt="">&nbsp; <span>Dashboard</span> </a></p>
    <h1 class="text-xl" style="margin: 10px">Emploi de temps</h1>
    <button href="" class="btn" id="pop" > Ajouter un programme</button>
</header>


<div class="cd-schedule cd-schedule--loading margin-top-lg margin-bottom-lg js-cd-schedule">
    <div class="cd-schedule__timeline">
        <ul>
            <li><span>07:00</span></li>
            <li><span>07:30</span></li>
            <li><span>08:00</span></li>
            <li><span>08:30</span></li>
            <li><span>09:00</span></li>
            <li><span>09:30</span></li>
            <li><span>10:00</span></li>
            <li><span>10:30</span></li>
            <li><span>11:00</span></li>
            <li><span>11:30</span></li>
            <li><span>12:00</span></li>
            <li><span>12:30</span></li>
            <li><span>13:00</span></li>
            <li><span>13:30</span></li>
            <li><span>14:00</span></li>
            <li><span>14:30</span></li>
            <li><span>15:00</span></li>
            <li><span>15:30</span></li>
            <li><span>16:00</span></li>
            <li><span>16:30</span></li>
            <li><span>17:00</span></li>
            <li><span>17:30</span></li>
            <li><span>18:00</span></li>
            <li><span>18:30</span></li>
            <li><span>19:00</span></li>
            <li><span>19:30</span></li>
            <li><span>20:00</span></li>
            <li><span>20:30</span></li>
            <li><span>21:00</span></li>
            <li><span>21:30</span></li>
            <li><span>22:00</span></li>
            <li><span>22:30</span></li>
            <li><span>23:00</span></li>
        </ul>
    </div> <!-- .cd-schedule__timeline -->

    <div class="cd-schedule__events">
        <ul>
            <li class="cd-schedule__group">
                <div class="cd-schedule__top-info" ><span>Monday</span></div>

                <ul>
                    <li class="cd-schedule__event" th:each="prog : ${programmeLun}">
                        <a th:attr="data-start=${prog.heureDeDebut}, data-end=${prog.heureDeFin} , href=@{/programmeById/{id}(id=${prog.id})}" data-content="static/js/soustimetable.html" data-event="event-1" >
                            <em class="cd-schedule__name">[[*{prog.evenement.intitule}]] - [[*{prog.salle.intitule}]]</em>
                            <em class="cd-schedule__name">[[*{prog.personnel.nom}]]</em>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="cd-schedule__group" >
                <div class="cd-schedule__top-info" ><span>Tuesday</span></div>

                <ul>
                    <li class="cd-schedule__event" th:each="prog : ${programmeMar}">
                        <a th:attr="data-start=${prog.heureDeDebut}, data-end=${prog.heureDeFin} , href=@{/programmeById/{id}(id=${prog.id})}" data-content="js/soustimetable" data-event="event-2" >
                            <em class="cd-schedule__name">[[*{prog.evenement.intitule}]] - [[*{prog.salle.intitule}]]</em>
                            <em class="cd-schedule__name">[[*{prog.personnel.nom}]]</em>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="cd-schedule__group" >
                <div class="cd-schedule__top-info" ><span>Wednesday</span></div>

                <ul>
                    <li class="cd-schedule__event" th:each="prog : ${programmeMer}">
                        <a th:attr="data-start=${prog.heureDeDebut}, data-end=${prog.heureDeFin} , href=@{/programmeById/{id}(id=${prog.id})}" data-content="js/soustimetable" data-event="event-3" >
                            <em class="cd-schedule__name">[[*{prog.evenement.intitule}]] - [[*{prog.salle.intitule}]]</em>
                            <em class="cd-schedule__name">[[*{prog.personnel.nom}]] </em>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="cd-schedule__group" >
                <div class="cd-schedule__top-info"><span>Thursday</span></div>

                <ul >
                    <li class="cd-schedule__event" th:each="prog : ${programmeJeu}" >
                        <a th:attr="data-start=${prog.heureDeDebut}, data-end=${prog.heureDeFin} , href=@{/programmeById/{id}(id=${prog.id})}" data-content="js/soustimetable" data-event="event-4" >
                            <em class="cd-schedule__name">[[*{prog.evenement.intitule}]] - [[*{prog.salle.intitule}]]</em>
                            <em class="cd-schedule__name">[[*{prog.personnel.nom}]] </em>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="cd-schedule__group" >
                <div class="cd-schedule__top-info" ><span>Friday</span></div>

                <ul >
                    <li class="cd-schedule__event" th:each="prog : ${programmeVen}">
                        <a th:attr="data-start=${prog.heureDeDebut}, data-end=${prog.heureDeFin} , href=@{/programmeById/{id}(id=${prog.id})}" data-content="js/soustimetable" data-event="event-2" >
                            <em class="cd-schedule__name">[[*{prog.evenement.intitule}]] - [[*{prog.salle.intitule}]]</em>
                            <em class="cd-schedule__name">[[*{prog.personnel.nom}]] </em>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="cd-schedule__group">
                <div class="cd-schedule__top-info"><span>Saturday</span></div>

                <ul >
                    <li class="cd-schedule__event" th:each="prog : ${programmeSam}">
                        <a th:attr="data-start=${prog.heureDeDebut}, data-end=${prog.heureDeFin} , href=@{/programmeById/{id}(id=${prog.id})}" data-content="js/soustimetable" data-event="event-3" >
                            <em class="cd-schedule__name">[[*{prog.evenement.intitule}]] - [[*{prog.salle.intitule}]]</em>
                            <em class="cd-schedule__name">[[*{prog.personnel.nom}]] </em>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="cd-schedule__group" >
                <div class="cd-schedule__top-info"><span>Sunday</span>  </div>
                <ul >
                    <li class="cd-schedule__event"  th:each="prog : ${programmeDim}">
                        <a th:attr="data-start=${prog.heureDeDebut}, data-end=${prog.heureDeFin} , href=@{/programmeById/{id}(id=${prog.id})}" data-content="js/soustimetable" data-event="event-1" >
                            <em class="cd-schedule__name">[[*{prog.evenement.intitule}]] - [[*{prog.salle.intitule}]]</em>
                            <em class="cd-schedule__name">[[*{prog.personnel.nom}]] </em>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="cd-schedule-modal">
        <header class="cd-schedule-modal__header">
            <div class="cd-schedule-modal__content">
                <span class="cd-schedule-modal__date"></span>
                <h3 class="cd-schedule-modal__name"></h3>
            </div>

            <div class="cd-schedule-modal__header-bg"></div>
        </header>

        <div class="cd-schedule-modal__body">
            <div class="cd-schedule-modal__event-info"></div>
            <div class="cd-schedule-modal__body-bg"></div>
        </div>

        <a href="#0" class="cd-schedule-modal__close text-replace">Close</a>
    </div>

    <div class="cd-schedule__cover-layer"></div>
</div> <!-- .cd-schedule -->

<script src="js/util.js"></script>
<script src="js/main.js"></script>


    <div class="modal" >
        <div class="cover"></div>
        <main class="margin-top-auto margin-bottom-xl">
            <form action="/programme" method="Post" ENCTYPE="multipart/form-data" >
                <div class="contactez-nous">

                    <div>
                        <label for="heureDeDebut">  Heure De Debut: </label>
                        <input type="time" id="heureDeDebut" name="heureDeDebut" required>
                    </div>
                    <div>
                        <label for="HeureDeFin">Heure De Fin:</label>
                        <input type="time" id="HeureDeFin" name="heureDeFin" required>
                    </div>
                    <div>
                        <label for="salle">Votre salle</label>
                        <select name="salle" id="salle" required>
                            <option value="" disabled selected hidden>Choisissez votre salle </option>
                            <tr th:each="salle : ${salle}" required>
                                <option  th:value="*{salle.id}">[[*{salle.intitule}]]</option>
                            </tr>
                        </select>
                    </div>
                    <div>
                        <label for="evenement">Votre evenement</label>
                        <select name="evenement" id="evenement" required>
                            <option value="" disabled selected hidden>Choisissez votre evenement</option>
                            <tr th:each="evenement : ${evenement}" required>
                                <option  th:value="*{evenement.id}">[[*{evenement.intitule}]]</option>
                            </tr>
                        </select>
                    </div>
                    <div>
                        <label>Votre jour </label>
                        <select name="jour" id="jour">
                            <option value="0" > Choisissez votre Jour </option>
                            <option th:each="jour : ${jour}" th:value="${jour.id}" th:text="${jour.intitule}"></option>
                        </select>
                    </div>
                    <div>
                        <select name="personnel" id="personnel">
                            <option value="0" > Choisissez votre personnel </option>
                            <option th:each="personnel : ${personnel}" th:value="${personnel.id}" th:text="${personnel.nom}"></option>
                        </select>
                    </div>

                    <div>
                        <button type="submit" class="btn">Save</button>
                    </div>
                </div>
            </form>
        </main>
    </div>



</body>
</html>